# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of the popular languages that Data Scientists use
- List of the commonly used libraries used by Data Scientists
- List of Data Science Tools

In [ ]:
## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

In [ ]:
## Some of the commonly used libraries used by Data Scientists include:
1. Python 
2. Pandas
3. TensorFlow

In [ ]:
| Data Science Tools |
|:.................:|
| Watson Studio|
| Azure|
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python
1.1
2.2
3.3
4.4
5.5

1. x=min(5,10,15)
2. y=max(5,10,15)
3.
4. print(x)
5. print(y)

In [6]:
### This a simple arithmetic expression to mutiply then add integers
a=3
b=4
c=5
print ((a*b)+c)

17

In [7]:
###This will convert 200 minutes to hours by diving by 60
minutes=200
hour=60
print(minutes/hour)

3.3333333333333335

## Author
Inga